/*entire*/

html {
    font-size: 30px;
}

html,
body {
    font-family: 'microsoft yahei';
    background: #000;
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.transparent {
    opacity: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.absolute {
    position: absolute;
}


/*scenes*/

.scene1 {
    font-size: 100%;
}

.scene1 .bg-pattern {
    width: inherit;
    height: inherit;
    background: url(../images/bg-pattern.jpg) no-repeat 0 0;
    background-size: cover;
}

.scene1 .mark {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    animation: bright 1s linear .2s forwards, brighten 2s linear 5s forwards;
}

.scene1 .typefont1-1 {
    position: relative;
    font-size: 120%;
    animation: fadeOut .5s linear 5s forwards;
}

.scene1 .icon-location {
    bottom: 35%;
    left: 52%;
}

.scene1 .icon-location:before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 1.8em;
    background: url(../images/icon-location.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.scene1 .icon-light {
    bottom: 12.5%;
    left: 22.8%;
    background: url(../images/icon-light.png) no-repeat;
    background-size: contain;
    width: 7.2em;
    height: 7.2em;
    opacity: 0;
    animation: fadeIn 0s linear 7.5s forwards, fadeIn 0s linear 9s forwards;
}

.scene1 .icon-msg {
    bottom: 22.5%;
    left: 41%;
    background: url(../images/icon-msg.png) no-repeat;
    background-size: contain;
    width: 2.8em;
    height: 2.8em;
}

.scene1 .distant {
    animation: fadeOut 0s linear 9s forwards;
}

.scene1 .house {
    width: inherit;
    height: inherit;
    background: url(../images/bg-scene1.png) no-repeat center bottom;
    background-size: cover;
    transform-origin: 42% 88%;
    animation: onlighted 0s linear 8s forwards, zoom 1s linear 9s forwards, fadeOut .2s linear 35s forwards;
}

.scene1 .house-close {
    position: absolute;
    width: inherit;
    height: inherit;
    background: url(../images/bg-house-close.jpg) no-repeat center top;
    background-size: cover;
    opacity: 0;
    animation: fadeIn .3s linear 35s forwards, fadeOut .2s linear 40s forwards;
}

.scene1 .house-close .icon-user-close {
    position: absolute;
    top: 34%;
    left: 50%;
    width: 9.367em;
    height: 12em;
    margin-left: -4.683em;
    background: url(../images/icon-user-close.png) no-repeat center top;
    background-size: cover;
    animation: userAnimate 1s linear 36s forwards infinite;
}

.scene1 .house-close .icon-water-close {
    position: absolute;
    top: 46%;
    left: 56%;
    width: 6.167em;
    height: 8em;
    background: url(../images/icon-water.png) no-repeat center top;
    background-size: cover;
}

.scene1 .house-close .icon-laugh {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 24em;
    height: 16.6em;
    margin-left: -12em;
    background: url(../images/icon-laugh.png) no-repeat center top;
    background-size: cover;
    animation: laughAnimate 1s linear 36s forwards infinite;
}

.scene1 .workflow {
    position: absolute;
    width: 90%;
    height: 80%;
    opacity: 0;
    animation: fadeIn 0s linear 10s forwards, hide .1s linear 35s forwards;
}

.scene1 .path-wrap {
    position: absolute;
    overflow: hidden
}

.scene1 .path {
    position: absolute;
    width: inherit;
    height: inherit;
}

.scene1 .path0-wrap {
    top: 25%;
    left: 5.5%;
    width: 3.367em;
    height: 1.73em;
    transform: translateX(3.367em);
    animation: path0WrapAnimate .2s linear 15.5s forwards;
}

.scene1 .path0 {
    background: url(../images/icon-path0.png) no-repeat;
    transform: translateX(-100%);
    animation: path0Animate .2s linear 15.5s forwards;
}

.scene1 .path1-wrap {
    top: 0%;
    left: 5%;
    width: 1.5em;
    height: 10.4em;
    transform: translateY(10.4em);
    animation: path1WrapAnimate .5s linear 15.7s forwards;
}

.scene1 .path1 {
    width: 10.4em;
    background: url(../images/icon-path1.png) no-repeat;
    transform: translateY(-100%);
    animation: path1Animate .25s linear 15.7s forwards;
}

.scene1 .path2-wrap {
    top: 1%;
    left: 70%;
    width: 0;
    height: 17.433em;
    transform: translateY(-15.933em);
    animation: path2WrapAnimate 2s linear 21s forwards;
}

.scene1 .path2 {
    width: 10.4em;
    background: url(../images/icon-path2.png) no-repeat;
    transform: translateY(15.933em);
    animation: path2Animate 2s linear 21s forwards;
}

.scene1 .path3-wrap {
    top: 65%;
    left: 23%;
    width: 15.8em;
    height: 0;
    transform: translateX(14em);
    animation: path3WrapAnimate 2s linear 28s forwards;
}

.scene1 .path3 {
    height: 8.167em;
    transform: translateX(-14em);
    background: url(../images/icon-path3.png) no-repeat;
    animation: path3Animate 1.8 s linear 28s forwards;
}

.scene1 .path4-wrap {
    top: 48.9%;
    left: 3%;
    width: 5.167em;
    height: 13.333em;
    transform: translateY(13.333em);
    animation: path4WrapAnimate 2s linear 30s forwards;
}

.scene1 .path4 {
    background: url(../images/icon-path4.png) no-repeat;
    transform: translateY(-100%);
    animation: path4Animate 1.8s linear 30s forwards;
}

.icon-user {
    top: 41.5%;
    left: 15%;
    width: 2em;
    height: 2.7em;
    opacity: 0;
    background: url(../images/icon-user.png) no-repeat;
    background-size: cover;
    animation: fadeIn .2s linear 10.2s forwards;
}

.scene1 .icon-request {
    top: 23%;
    left: 18%;
    width: 4.3em;
    height: 4.3em;
    background: url(../images/icon-request.gif) no-repeat;
    transform: scale(1);
    opacity: 0;
    animation: fadeIn .3s linear 10.5s forwards, requestAnimate 1.2s linear 10.8s forwards;
}

.scene1 .icon-system {
    top: -5.5%;
    left: 50%;
    width: 4.467em;
    height: 4.467em;
    opacity: 0;
    animation: fadeIn .5s linear 15.8s forwards;
}

.scene1 .icon-gear-big {
    position: absolute;
    width: 3.367em;
    height: 3.367em;
    background: url(../images/icon-gear-big.png) no-repeat center center;
    animation: bigGearAnimate 1s linear 16s forwards;
}

.scene1 .icon-gear-small {
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 2em;
    height: 2em;
    background: url(../images/icon-gear-small.png) no-repeat;
    animation: smallGearAnimate 1s linear 16s forwards;
}

.scene1 .icon-staff {
    top: 53%;
    left: 80%;
    width: 3.667em;
    height: 4.433em;
    background: url(../images/icon-staff.png) no-repeat;
    transform-origin: center bottom;
    opacity: 0;
    animation: fadeIn .3s linear 22.5s forwards, staffAnimate 1s linear 22.7s forwards;
}

.scene1 .icon-water {
    top: 60%;
    left: 78%;
    width: 4.833em;
    height: 6.533em;
    background: url(../images/icon-water.png) no-repeat;
    background-size: cover;
    opacity: 0;
    animation: waterAppearAnimate 1s linear 27.5s forwards, waterMoveAnimate 3s linear 28.5s forwards, waterRotateAnimate 1s linear 32s forwards;
}

.scene1 .text-pop {
    position: relative;
    box-sizing: border-box;
    font-size: 90%;
    line-height: 1.5em;
    text-align: left;
    width: 24em;
    height: 6.889em;
    background: url(../images/bg-pop.png) no-repeat;
    padding: 1em;
    opacity: 0;
}

.scene1 .typefont1-2 {
    animation: fadeIn .3s linear 11s forwards, fadeOut .2s linear 15s forwards;
}

.scene1 .typefont1-3 {
    animation: fadeIn .3s linear 16.5s forwards, fadeOut .2s linear 19s forwards;
}

.scene1 .typefont1-4 {
    animation: fadeIn .3s linear 24s forwards, fadeOut .2s linear 26s forwards;
}

.scene1 .text-time {
    position: absolute;
    font-size: 120%;
    color: white;
    opacity: 0;
}

.scene1 .time1 {
    top: 0;
    left: 0;
    transform: rotate(-25deg);
    animation: blink 1s linear 19.2s forwards;
}

.scene1 .time2 {
    top: 32%;
    left: 79%;
    transform: rotate(90deg) translateY(-130%);
    animation: blink 1s linear 26s forwards;
}

.scene1 .time3 {
    top: 59%;
    left: 7%;
    transform: rotate(-25deg);
    animation: blink 1s linear 33s forwards;
}

.scene2 {
    background: url(../images/bg-scene2.png), url(../images/bg-pattern.png) repeat 0 0;
}

.scene2-bg1 {
    background: url(../images/scene2-bg1.png) no-repeat;
    background-size: contain;
    width: 65%;
    height: 26%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.scene2-bg2 {
    background: url(../images/scene2-bg2.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 70%;
    position: absolute;
    visibility: hidden;
    z-index: 1000
}

.scene2-bg3 {
    background: url(../images/scene2-bg3.png) no-repeat;
    /* width: 75%; */
    background-size: contain;
    height: 17%;
    position: absolute;
    bottom: -1%;
    left: 0;
    right: 0%;
}

.scene2-fade-in-left {
    animation: path1Animate 1s linear 1s ease-out;
}

.scene3 {
    background: url(../images/bg-scene3.png), url(../images/bg-pattern.png) repeat 0 0;
}

.scene3-bg1 {
    background: url(../images/scene3-bg1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 74%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.scene3-computer {
    background: url(../images/scene3-computer.png) no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 23.7em; */
    position: absolute;
    bottom: 10%;
    left: 16%;
    top: 53%;
}

.scene3-logo {
    background: url(../images/scene3-logo.png) no-repeat;
    background-size: cover;
    width: 27%;
    height: 19%;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.scene3-bar {
    background: url(../images/scene3-bar.png) no-repeat;
    background-size: cover;
    width: 47%;
    height: 15%;
    position: absolute;
    bottom: 22%;
    left: 41%;
}

.scene3-line {
    background: url(../images/scene3-line.png) no-repeat;
    background-size: cover;
    width: 53%;
    height: 16%;
    position: absolute;
    bottom: 30%;
    left: 27%;
}

.scene3-gear-lg {
    background: url(../images/scene3-gear-lg.png) no-repeat;
    background-size: cover;
    width: 23%;
    height: 13%;
    position: absolute;
    bottom: 43%;
    left: 67%;
}

.scene3-gear-sm {
    background: url(../images/scene3-gear-sm.png) no-repeat;
    background-size: cover;
    width: 3.4em;
    height: 3.4em;
    position: absolute;
    bottom: 50%;
    left: 88%;
}

.scene3-gear-xs {
    background: url(../images/scene3-gear-xs.png) no-repeat;
    background-size: cover;
    width: 7%;
    height: 4%;
    position: absolute;
    bottom: 57%;
    left: 86%;
}

.scene3-summary {
    background: url(../images/scene3-summary.png) no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 36.8em; */
    position: absolute;
    bottom: 41%;
    top: 1%;
    left: 0%;
}

.scene4 {
    background: url(../images/scene4-bg-num.png), url(../images/scene4-bg-red.png) repeat 0 0;
}

.scene4-category0 {
    background: url(../images/scene4-category1.png);
    background-size: cover;
    width: 2.3em;
    height: 21.2em;
    position: absolute;
    top: 100%;
    left: 0%;
}

.scene4-category1 {
    background: url(../images/scene4-category1.png);
    background-size: cover;
    width: 2.3em;
    height: 21.2em;
    position: absolute;
    top: 100%;
    left: 10%;
}

.scene4-category2 {
    background: url(../images/scene4-category2.png);
    background-size: cover;
    width: 2.3em;
    height: 21.3em;
    position: absolute;
    top: 100%;
    left: 20%;
}

.scene4-category3 {
    background: url(../images/scene4-category3.png);
    background-size: cover;
    width: 2.4em;
    height: 23.3em;
    position: absolute;
    top: 100%;
    left: 30%;
}

.scene4-category4 {
    background: url(../images/scene4-category4.png);
    background-size: cover;
    width: 2.2em;
    height: 17.1em;
    position: absolute;
    top: 100%;
    left: 40%;
}

.scene4-category5 {
    background: url(../images/scene4-category5.png);
    background-size: cover;
    width: 2.2em;
    height: 12.8em;
    position: absolute;
    top: 100%;
    left: 50%;
}

.scene4-category6 {
    background: url(../images/scene4-category6.png);
    background-size: cover;
    width: 2.3em;
    height: 19.5em;
    position: absolute;
    top: 100%;
    left: 60%;
}

.scene4-category7 {
    background: url(../images/scene4-category7.png);
    background-size: cover;
    width: 2.2em;
    height: 19em;
    position: absolute;
    top: 100%;
    left: 70%;
}

.scene4-category8 {
    background: url(../images/scene4-category8.png);
    background-size: cover;
    width: 2.4em;
    height: 15.0em;
    position: absolute;
    top: 100%;
    left: 80%;
}

.scene4-category9 {
    background: url(../images/scene4-category9.png);
    background-size: cover;
    width: 2.4em;
    height: 19.2em;
    position: absolute;
    top: 100%;
    left: 90%;
}

.scene4-category10 {
    background: url(../images/scene4-category10.png);
    background-size: cover;
    width: 2.1em;
    height: 17.7em;
    position: absolute;
    top: 100%;
    left: 100%;
}

.scene4-category-white {
    background: url(../images/scene4-category-white.png);
    background-size: cover;
    width: 2.0em;
    height: 7.0em;
    position: absolute;
    bottom: 41%;
    left: 0%;
}

.scene4-summary {
    background: url(../images/scene4-summary.png) no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 28.5em; */
    position: absolute;
    bottom: 43%;
    left: 4%;
    top: 12%;
}

.scene4-category {
    animation-iteration-count: 10000;
}

.scene5 {
    background: url(../images/bg-scene5.png);
}

.scene5-bg2 {
    background: url(../images/scene5-bg2.png) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    top: 0;
    animation-iteration-count: 1;
}

.scene5-left-hand {
    background: url(../images/scene5-left-hand.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 55%;
    left: 0%;
    animation-iteration-count: 1;
}

.scene5-right-hand {
    background: url(../images/scene5-right-hand.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 54.3%;
    left: 66%;
    animation-iteration-count: 1;
}

.scene5-citation {
    background: url(../images/scene5-citation.png) no-repeat;
    background-size: contain;
    /* width: 100%; */
    height: 25%;
    position: absolute;
    bottom: 60.5%;
    left: 24%;
    right: 24%;
    animation-iteration-count: 1;
}

.scene5-persons {
    background: url(../images/scene5-persons.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 29%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation-iteration-count: 1;
}

.scene5-person1 {
    background: url(../images/scene5-person1.png);
    background-size: contain;
    width: 36.0em;
    height: 13.7em;
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation-iteration-count: 1;
}

.scene5-star {
    background: url(../images/scene5-star.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 17%;
    position: absolute;
    bottom: 74%;
    left: 13%;
    animation-iteration-count: 1;
}

.scene5-star-sm {
    background: url(../images/scene5-star.png) no-repeat;
    background-size: contain;
    background-size: contain;
    width: 5.4em;
    height: 11.2em;
    position: absolute;
    bottom: 66%;
    left: 46%;
    animation-iteration-count: 1;
}

.scene5-summary {
    background: url(../images/scene5-summary.png) no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    bottom: 26%;
    left: 0%;
    top: 30%;
    animation-iteration-count: 1;
}

.scene6 {
    background: url(../images/bg-scene6.png), url(../images/bg-pattern.png) repeat 0 0;
}

.scene7 {
    background: url(../images/bg-scene7.jpg) center top;
}

.scene8 {
    background: url(../images/bg-scene8.png) center top, url(../images/bg-pattern.jpg);
}

.scene8 .cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.scene8 .cloud>div {
    position: absolute;
}

.scene8 .cloud>div img {
    width: 100%;
}

.scene8 .cloud .cloud1 {
    z-index: 1;
    right: -50%;
    /*right: -25%;*/
    top: 15%;
    width: 90%;
    animation: moveFromRightDouble 60s linear infinite alternate;
}

.scene8 .cloud .cloud2 {
    z-index: 1;
    top: 30%;
    left: -60%;
    /*left: -20%;*/
    width: 80%;
    animation: moveFromLeft 20s linear infinite alternate;
}

.scene8 .cloud .cloud3 {
    z-index: 1;
    top: 50%;
    right: -45%;
    width: 60%;
    animation: moveFromRightHalf 15s linear infinite alternate;
}

.scene8 .cloud .cloud4 {
    z-index: 3;
    right: -30%;
    /*right: -65%;*/
    bottom: 0;
    width: 90%;
    animation: moveFromRight 20s linear infinite alternate;
}

.scene8 .cloud .cloud5 {
    z-index: 3;
    left: -30%;
    /*left: -10%;*/
    bottom: 0;
    width: 55%;
    animation: moveFromLeftHalf 20s linear infinite alternate;
}

.scene8 .cloud .cloud6 {
    z-index: 3;
    right: -60%;
    /*right: -10%;*/
    bottom: 0;
    width: 90%;
    animation: moveFromRightHalf 20s linear infinite alternate;
}

.scene8 .earth {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8%;
}

.scene8 .icon-earth {
    position: absolute;
    z-index: 2;
    left: 20%;
    right: 20%;
    bottom: 0;
    height: 36%;
    background: url(../images/icon-earth.png) no-repeat center bottom;
    background-size: contain;
}

.scene8 .house {
    position: absolute;
    z-index: 1;
    left: 20%;
    right: 20%;
    bottom: 0;
    height: 36%;
}

.scene8 .house>img {
    display: block;
    position: absolute;
}

.scene8 .house .house1 {
    top: 35%;
    left: -25%;
    width: 32%;
}

.scene8 .house .house2 {
    top: 11%;
    left: -20%;
    width: 35%;
}

.scene8 .house .house3 {
    top: -28%;
    left: -10%;
    width: 54%;
}

.scene8 .house .house4 {
    top: -49%;
    right: 10%;
    width: 34%;
}

.scene8 .house .house5 {
    top: -27%;
    right: -8%;
    width: 40%;
}

.scene8 .house .house6 {
    top: 44%;
    right: -28%;
    width: 36%;
}

.scene8 .house .house7 {
    top: 27%;
    right: -16%;
    width: 25%;
}

.scene8 .bird {
    position: absolute;
    z-index: 4;
    bottom: 5%;
    left: -30%;
    width: 5.167rem;
    height: 4.133rem;
    background: url(../images/icon-bird.png) no-repeat center center;
    background-size: contain;
    animation: fly 8s linear infinite backwards;
}

.scene8 .text {
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 50%;
    width: 24rem;
    height: 24rem;
    margin-left: -12rem;
    background: url(../images/text-scene8.png) no-repeat center center;
    background-size: contain;
}

.scene9 {
    background: url(../images/bg-pattern.jpg);
}

.scene9 .logo {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    height: 10%;
    text-align: center;
}

.scene9 .logo>img,
.scene9 .logo>div {
    display: inline-block;
}

.scene9 .logo .logo-vanke {
    width: 50%;
}

.scene9 .logo .line {
    width: 1px;
    height: 60%;
    background: #9e9e9f;
    margin: 0 8%;
    opacity: 0;
}

.scene9 .logo .logo-owl {
    width: 25%;
}

.scene9 .text-hello {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 8.6rem;
    margin-left: -4.3em;
}


/*custom animate*/

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    to {
        visibility: visible;
    }
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes bright {
    to {
        opacity: .7;
    }
}

@keyframes brighten {
    from {
        opacity: .7;
    }
    to {
        opacity: 0;
    }
}

@keyframes onlighted {
    to {
        background: url(../images/bg-scene1-light.png) no-repeat center bottom;
    }
}

@keyframes zoom {
    to {
        transform: scale(5)
    }
}

@keyframes rotateClockwise {
    to {
        transform: rotate(1turn);
    }
}

@keyframes rotateCounterclockwise {
    form {
        transform: rotate(1turn);
    }
}

@keyframes spinClockwise {
    from {
        transform: translate(50%, 100px) rotate(0turn) translate(-50%, -100px);
    }
    to {
        transform: translate(50%, 100px) rotate(1turn) translate(-50%, -100px);
    }
}

@keyframes spinCounterclockwise {
    from {
        transform: translate(50%, 50%) rotate(1turn) translate(-50%, -50%);
    }
    to {
        transform: translate(50%, 50%) rotate(0turn) translate(-50%, -50%);
    }
}

@keyframes path0WrapAnimate {
    0% {
        transform: translateX(3.367em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes path0Animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes path1WrapAnimate {
    0% {
        width: 1.5em;
        transform: translateY(10.4em);
    }
    50% {
        width: 1.5em;
        transform: translateY(0);
    }
    100% {
        width: 10.4em;
        transform: translateY(0);
    }
}

@keyframes path1Animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes path2WrapAnimate {
    0% {
        width: 0;
        transform: translateY(-15.933em);
    }
    30% {
        width: 6.367em;
        transform: translateY(-15.933em);
    }
    100% {
        width: 6.367em;
        transform: translateY(0);
    }
}

@keyframes path2Animate {
    0% {
        transform: translateY(15.933em);
    }
    30% {
        transform: translateY(15.933em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes path3WrapAnimate {
    0% {
        height: 0;
        transform: translateX(14em);
    }
    30% {
        height: 8.167em;
        transform: translateX(14em);
    }
    100% {
        height: 8.167em;
        transform: translateX(0);
    }
}

@keyframes path3Animate {
    0% {
        transform: translateX(-14em);
    }
    30% {
        transform: translateX(-14em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes path4WrapAnimate {
    0% {
        transform: translateY(13.333em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes path4Animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes requestAnimate {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(.8);
    }
    105% {
        transform: scale(1);
    }
}

@keyframes bigGearAnimate {
    to {
        transform: rotate(-45deg)
    }
}

@keyframes smallGearAnimate {
    to {
        transform: rotate(60deg)
    }
}

@keyframes staffAnimate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

@keyframes waterAppearAnimate {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes waterMoveAnimate {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0) translateX(0);
    }
    15% {
        opacity: 1;
        transform: scale(1) translateY(80%) translateX(0);
    }
    75% {
        opacity: 1;
        transform: scale(1) translateY(80%) translateX(-350%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(-100%) translateX(-350%);
    }
}

@keyframes waterRotateAnimate {
    from {
        opacity: 1;
        transform: translateY(-100%) translateX(-350%) scale(1) rotate(0);
    }
    to {
        opacity: 0;
        transform: translateY(-130%) translateX(-300%) scale(0) rotate(3turn);
    }
}

@keyframes userAnimate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes laughAnimate {
    0% {
        transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes moveFromLeftHalf {
    to {
        transform: translateX(50%);
    }
}

@keyframes moveFromRightHalf {
    to {
        transform: translateX(-50%);
    }
}

@keyframes moveFromLeft {
    to {
        transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    to {
        transform: translateX(-100%);
    }
}

@keyframes moveFromLeftDouble {
    to {
        transform: translateX(200%);
    }
}

@keyframes moveFromRightDouble {
    to {
        transform: translateX(-200%);
    }
}

@keyframes fly {
    0% {
        bottom: 5%;
        left: -12%;
    }
    10% {
        bottom: 3%;
        left: 0%;
    }
    20% {
        bottom: 8%;
        left: 12%;
    }
    30% {
        bottom: 5%;
        left: 24%;
    }
    40% {
        bottom: 7%;
        left: 36%;
    }
    50% {
        bottom: 4%;
        left: 48%;
    }
    60% {
        bottom: 6%;
        left: 60%;
    }
    70% {
        bottom: 3%;
        left: 72%;
    }
    80% {
        bottom: 5%;
        left: 84%;
    }
    90% {
        bottom: 8%;
        left: 96%;
    }
    100% {
        bottom: 5%;
        left: 120%;
    }
}


/*define animate class*/

.slowest {
    animation-duration: 3s;
}

.slower {
    animation-duration: 2s;
}

.faster {
    animation-duration: .5s;
}

.fastest {
    animation-duration: .25s;
}

.rotate-clockwise {
    animation-name: rotateClockwise;
    animation-timing-function: linear;
}

.rotate-counterclockwise {
    animation-name: rotateCounterclockwise;
    animation-timing-function: linear;
}

.spin-clockwise {
    animation-name: spinClockwise;
    animation-timing-function: linear;
}

.spin-counterclockwise {
    animation-name: spinCounterclockwise;
    animation-timing-function: linear;
}

.typed-cursor {
    color: #fff;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@media only screen and (max-device-width:768px) {
    html {
        font-size: 32px !important;
    }
}

@media only screen and (max-device-width:720px) {
    html {
        font-size: 30px !important;
    }
}

@media only screen and (max-device-width:414px) {
    html {
        font-size: 17.25px !important;
    }
}

@media only screen and (max-device-width:384px) {
    html {
        font-size: 16px !important;
    }
}

@media only screen and (max-device-width:375px) {
    html {
        font-size: 15.626px !important;
    }
}

@media only screen and (max-device-width:320px) {
    html {
        font-size: 12px !important;
    }
}